
<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>查询</title>
</head>

<body>
<container>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="hidden-xs logo" href="/" style="padding-top: 20px">
                        (゜-゜)つロ
                        <!--img style="height:45px;width:55px;" src="/static/img/logo.png"-->
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{template "header" .}}

                </div>
            </div>
        </nav>
    </header>

    <br style="padding-left: 10%">

    <div class="col-sm-1">

    </div>

    <div class="col-md-5" style="padding-bottom: 30px">
        <h2>Sign Up</h2>
        <hr>

        <form id="uploadForm" action="/signup" method="POST">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <select class="form-control" id = "Department" name="Department" required>
                            <option></option>
                            <option>基础支付</option>
                            <option>银行服务</option>
                            <option>技术支持</option>
                            <option>综合部</option>
                        </select>
                        <!--input type="text" class="form-control" id="Department" name="Department" placeholder="部门" aria-required="true" required=""-->
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="姓名" required >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ComputerType" name="ComputerType" placeholder="型号">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="OsType" name="OsType" placeholder="系统" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="MacAddr" name="MacAddr" placeholder="MAC地址"required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="SecuritySoftWare" name="SecuritySoftWare" placeholder="杀软"required>
                    </div>

                </div>
                <br>
                <!-- <button type="submit" class="btn btn-primary">提交</button> -->
                <input type="submit" id="btn1" class="btn btn-primary" value="UP" onclick="showFiles();showTB()"><br>
            </form>
    </div>
    </br>
        <script type="text/javascript">
            <function showTB() {
                var tbplay = document.getElementById("tbplay");
                tbplay.style.display = "block"
            }

            $("#btn1").click(function () {
                if (document.getElementById("Department").value == "") {
                    alert("不能为空");
                }
            });

        </script>

    </div>

    <!-- <div class="col-md-4">
        <img src="http://qr.liantu.com/api.php?text=https://qr.alipay.com/bax02179hfaadwa1yuln0059">
    </div> -->

</container>
</body>

</html>