{{define "header"}}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/" target="_blank">统计</a></li> 
                        <li><a href="/admin" target="_blank">查询</a></li>
                        <li><a href="/signup" target="_blank">登录</a></li>

                    </ul>
                </div>
{{end}}


<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <title>查询</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="hidden-xs logo" href="/">
                    []~(￣▽￣)~*
                    <!--img style="height:45px;width:55px;" src="//beego.me/static/img/beego_purple.png"-->
                </a>
                    <!-- <a class="navbar-brand" href="">FmtExcel</a>  -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- <ul class="nav navbar-nav">
                        <li><a href="/" target="_blank">HOME</a></li>
                        <li><a href="/query" target="_blank">查询</a></li>
                    </ul> -->
                    {{template "header" .}}


                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

    <container>

        <div class="col-sm-1">

        </div>

        <div class="col-md-10">
            <h2>查询</h2>
            <hr>

            <!-- <strong> 读取数据：</strong> -->
            <!-- <div class="container"> -->
            <!--文本文件验证-->
            <form id="uploadForm" action="/admin" method="POST" style="display: block">
                <table class="table table-bordered">
                    <thead>
                        <th style="width: 20%">

                            <div class='form-control input-group date' style="border: hidden">
                            <select class="form-control" id = "partment" name="partment" >
                                <option></option>
                                <option>基础支付</option>
                                <option>银行服务</option>
                                <option>技术支持</option>
                                <option>综合部</option>
                            </select>
                            </div>
                        </th>
                        <!--<th style="width: 20%">
                            <label>选择日期1：</label >
                            <input type="hidden" id="scantime" name="scantime">
                            <div class='form-control input-group date' style="border: hidden">
                            <input type="button" class="form-control" value="" id="datetimepicker" name="datetimepicker">
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </th>-->
                        <th style="width: 20%">

                            <input type="hidden" id="scantime2" name="scantime2">
                            <!--指定 date标记-->
                            <div class='form-control input-group date' id='datetimepicker' name="datetimepicker" style="border: hidden" >
                                <input type='button' class="form-control" id="inputtime" name="inputtime" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </th>
                        <th>
                            <input type="submit" id="btn1" class="btn btn-primary" value="UP" onclick="showFiles();showTB()">
                        </th>
                    </thead>
                    <!--tbody>
                        <td>11111</td>
                        <td>22222</td>
                        <td>33333</td>
                    </tbody-->
                </table>

                <!--div style="width:120px">
                <label>查询号:</label>
                <input type="text" class="form-control" name="num" id="order_id" placeholder=" 多个号请用‘ , ’分割(如：2017xxxxx,2017yyyyy) "
                    aria-required="true" required="">
                </div-->

                <!-- <button type="submit" class="btn btn-primary">提交</button> -->
                <br>
            </form>
    
            <br>
            <strong> 显示数据：</strong> 
            <div id="mydata" width="100%"> <br> </div>
            <div class="bs-example," data-example-id="bordered-table" id="tbplay">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>\</th>
                            <th>部门</th>
                            <th>姓名</th>
                            <th>型号</th>
                            <th>系统</th>
                            <th>mac地址</th>
                            <th>杀软</th>
                            <th>扫描时间</th>
                            <th>扫描结果</th>
                            <th>病毒数</th>
                            <th>异常数</th>
                            <th>处理方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {{range $n,$i := .Data}}
                        <tr>
                            <th scope="row">{{$n}}</th>
                            <th>{{$i.Department}}</th>
                            <th>{{$i.Name}}</th>
                            <th>{{$i.ComputerType}}</th>
                            <th>{{$i.OsType}}</th>
                            <th>{{$i.MacAddr}}</th>
                            <th>{{$i.SecuritySoftWare}}</th>
                            <th>{{$i.ScanTime}}</th>
                            <th>{{$i.ScanResult}}</th>
                            <th>{{$i.VirusNum}}</th>
                            <th>{{$i.AbnormalNum}}</th>
                            <th>{{$i.HowDealWith}}</th>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            
            <hr>
            </main>
            <script type="text/javascript">
                function showTB() {
                    var tbplay = document.getElementById("tbplay");
                    tbplay.style.display = "block"
                }

                $(function () {
                    $('#datetimepicker').datetimepicker({
                        format: 'YYYYMM',
                        locale: moment.locale('zh-cn'),
                        showTodayButton:true,
                        showClear:true
                    });
                });

                $("#btn1").click(function () {
                    // document.getElementById("scantime").value = document.getElementById("datetimepicker").value;
                    document.getElementById("scantime2").value = document.getElementById("inputtime").value;
                    console.log(document.getElementById("datetimepicker").value);
                    console.log("inputtime :>",document.getElementById("inputtime").value);
                });

            </script>

        </div>

        <!-- <div class="col-md-4">
            <img src="http://qr.liantu.com/api.php?text=https://qr.alipay.com/bax02179hfaadwa1yuln0059">
        </div> -->

    </container>
</body>

</html>